@import url(variables.css);
body {
  --header-hieght: 4.5rem;
  margin: 0;
  background-color: var(--bg-body);
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  padding-inline: 3.6rem;
  transition: 200ms;
}

header {
  background-color: var(--bg-default);
  height: var(--header-hieght);
}
.text-btn {
  color: var(--body-text);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.7rem;
  background: none;
  background-color: var(--bg-default);
  border: 1px solid var(--lines-color);
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.header-container {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px -5px;
  align-items: center;
}

.page-title {
  font-size: 1rem;
  color: var(--brand-primary);
  font-weight: 700;
}

.welcome-div {
  text-align: left;
  width: 100%;
  background-color: var(--bg-default);
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradiant-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.triangle-left {
  position: relative;
  top: -3rem;
  z-index: 1;
  transform: skewY(3deg);
  height: 5rem;

  background: linear-gradient(
    90deg,
    rgba(7, 104, 160, 1) 0%,
    rgba(3, 193, 128, 1) 46%
  );
}
.triangle-right {
  position: relative;
  top: -11rem;
  z-index: 2;
  transform: skewY(-3deg);
  height: 8rem;
  background: linear-gradient(
    90deg,
    rgba(7, 104, 160, 1) 0%,
    rgba(6, 123, 153, 1) 24%,
    rgba(3, 193, 128, 1) 100%
  );
}
.welcome-title {
  color: var(--brand-secondary);
  font-weight: 700;
  font-size: 1.4rem;
}

.welcome-content {
  position: absolute;
  background-color: transparent;
  top: 7.4rem;
  padding-inline: 1rem;
}
.welcome-sub-title {
  color: var(--body-text);
  font-weight: 400;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.favorites {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 12rem;
  background-color: var(--bg-default);
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  box-shadow: rgba(69, 68, 68, 0.1) 0 0 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-block: 0.95rem;
}
.favorites h2 {
  font-size: 1rem;
  font-weight: 700;
}

.slider::-webkit-scrollbar-track {
  border-radius: 10px;
}

.slider::-webkit-scrollbar-thumb {
  background: #d5ac68;
  border-radius: 10px;
}
.slider {
  padding-inline-end: 0.5rem;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 8rem;
  gap: 1rem;
  width: 100%;
}

.favorite-topic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 5px 1px;

  background-color: var(--bg-default);
  height: 6.7rem;
  width: 7.6rem;
}
.favorite-topic img {
  margin: 0;
  width: 100%;
  object-fit: fill;
  height: 55%;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.favorite-topic ion-icon {
  margin: 0;
  padding: 0;
  color: goldenrod;
  z-index: -1;
}
.favorite-topic section {
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.active {
  transform: translateX(0);
}

.text-btn:hover {
  background-color: var(--brand-primary);
  transform: translateY(-1px);
}

.text-btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

footer {
  color: var(--body-text);
  font-weight: 400;
  margin-block-end: 1rem;
  display: flex;
  gap: .4rem;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

footer ion-icon {
  font-size: 1.5rem;
  color: var(--heart-color);
}

@media (max-width: 625px) {
  .text-btn-title {
    display: none;
  }
  .container {
    padding-inline: 1.5rem;
  }
}
@media (max-width: 458px) {
  .welcome-content {
    top: 6.9rem;
  }
  .welcome-content h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .welcome-content h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
