.topic-container {
  display: flex;
  flex-direction: column;
}
.topic-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  background-color: #333333;
  width: 100%;
  height: 17.5rem;
  color: #ededed;
}
.details-main {
  width: 54rem;
}
.category {
  color: var(--brand-secondary);
  font-size: 1rem;
  font-weight: 400;
}
.title {
  color: #ededed;
  font-size: 1.5rem;
  font-weight: 700;
}
.rating {
  color: var(--star-color);
}
.description {
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.side-bar {
  margin-top: -33rem;
  width: 20rem;
  height: 25rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.06) 0 4px 5px;
  border: solid 2px #ffffff;
}
.side-bar img {
  margin: 0;
  width: 100%;
  object-fit: cover;
  height: 48%;
}
.side-bar-content {
  height: 100%;
  padding: 1rem;
  color: #333333;
}
.side-bar-content h3 {
  font-size: 1rem;
  font-weight: 400;
}
.add-to-fav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 0.5rem;
  justify-content: space-between;
  height: 38%;
  border: solid 1px #dddddd;
}
.add-to-fav h3 {
  font-size: 1.1rem;
  font-weight: 400;
}
.add-to-fav h4 {
  text-align: center;
  opacity: 0.7;
  color: #333333;
  font-size: 0.8rem;
  font-weight: 400;
}
.add-to-favorites {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.7rem;
  background: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.9rem;
  font-weight: 400;

  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: var(--brand-secondary);
  border-radius: 0;
  height: 50%;
}
.add-to-favorites ion-icon {
  font-size: 2rem;
}

.sub-topics {
  margin-block: 1.2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.sub-topics-content {
  background-color: var(--bg-default);

  height: 25rem;
  border-radius: 0.3rem;
  border: solid 1px var(--lines-color);
}
.sub-topics-content h2 {
  color: var(--body-text);
  padding-inline: 1.8rem;
  padding-block: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: solid 1px var(--lines-color);
}
.check-mark {
  font-size: 1.5rem;
  color: var(--brand-secondary);
}
.sub-topics-content > div {
  padding-inline: 1.8rem;
  padding-block: 0.95rem;
  display: flex;
  justify-content: start;
  border-bottom: solid 1px var(--lines-color);
  align-items: center;
}
.sub-topics-content > div:last-child {
  border: none;
}

.sub-topics-content h3 {
  color: var(--body-text);
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 350px) {
  .sub-topics-content,
  .sub-topics-content {
    height: 33rem;
  }
}

@media (max-width: 625px) {
  .topic-details,
  .sub-topics {
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
  }
  .sub-topics {
    flex-direction: column;
  }
  .sub-topics-content {
    width: 100%;
  }
  .description {
    max-width: none;
  }
  .side-bar {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 978px) and (min-width: 626px) {
  .description {
    max-width: none;
  }
  .side-bar {
    width: 100%;
    margin: 0;
  }
  .topic-details,
  .sub-topics {
    padding-inline-start: 3.6rem;
    padding-inline-end: 3.6rem;
  }
  .sub-topics {
    flex-direction: column;
  }
  .sub-topics-content {
    width: 100%;
  }
}

@media (min-width: 978px) {
  .description,
  .sub-topics-content {
    width: 32rem;
  }
}
