@import url(variables.css);
body {
  --header-hieght: 4.5rem;
  margin: 0;
  background-color: var(--bg-body);
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  background-color: var(--bg-default);
  height: var(--header-hieght);
}

.text-btn {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.7rem;
  background: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.container {
  padding-inline: 3.6rem;
  transition: 200ms;
}

.header-container {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px -5px;
  align-items: center;
}

.page-title {
  font-size: 1.5rem;
  color: var(--brand-primary);
  font-weight: 700;
}

.welcome-div {
  text-align: left;
  width: 100%;
  background-color: var(--bg-default);
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradiant-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.triangle-left {
  position: relative;
  top: -3rem;
  z-index: 1;
  transform: skewY(3deg);
  height: 5rem;

  background: linear-gradient(
    90deg,
    rgba(7, 104, 160, 1) 0%,
    rgba(3, 193, 128, 1) 46%
  );
}

.triangle-right {
  position: relative;
  top: -11rem;
  z-index: 2;
  transform: skewY(-3deg);
  height: 8rem;
  background: linear-gradient(
    90deg,
    rgba(7, 104, 160, 1) 0%,
    rgba(6, 123, 153, 1) 24%,
    rgba(3, 193, 128, 1) 100%
  );
}
.welcome-title {
  color: var(--brand-secondary);
  font-weight: 700;
  font-size: 1.4rem;
}

.welcome-content {
  position: absolute;
  background-color: transparent;
  top: 7.4rem;
  padding-inline: 1rem;
}
.welcome-sub-title {
  color: var(--body-text);
  font-weight: 400;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.favorites {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 12rem;
  background-color: var(--bg-default);
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  box-shadow: rgba(69, 68, 68, 0.1) 0 0 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-block: 0.95rem;
}
.favorites h2 {
  font-size: 1rem;
  font-weight: 700;
}

.slider::-webkit-scrollbar-track {
  border-radius: 10px;
}

.slider::-webkit-scrollbar-thumb {
  background: #d5ac68;
  border-radius: 10px;
}
.slider {
  padding-inline-end: 0.5rem;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 8rem;
  gap: 1rem;
  width: 100%;
}
.favorite-topic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 5px 1px;

  background-color: var(--bg-default);
  height: 6.7rem;
  width: 7.6rem;
}
.favorite-topic img {
  margin: 0;
  width: 100%;
  object-fit: fill;
  height: 55%;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.favorite-topic ion-icon {
  margin: 0;
  padding: 0;
  color: goldenrod;
  z-index: -1;
}
.favorite-topic section {
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.active {
  transform: translateX(0);
}

.text-btn:hover {
  background-color: var(--brand-primary);
  transform: translateY(-1px);
}

.text-btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.main-container {
  /* padding: 1.8rem 39rem 1rem 17.4rem; */
}
.topic-container {
  display: flex;
  flex-direction: column;
}
.topic-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  background-color: var(--body-text);
  width: 100%;
  height: 17.5rem;
  color: var(--bg-default);
}
.details-main {
  width: 54rem;
}
.category {
  color: var(--brand-secondary);
  font-size: 1rem;
  font-weight: 400;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
}
.rating {
  color: var(--star-color);
}
.description {
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.side-bar {
  margin-top: -33rem;
  width: 20rem;
  height: 25rem;
  background-color: var(--bg-default);
  box-shadow: rgba(0, 0, 0, 0.06) 0 4px 5px;
  border: solid 2px var(--bg-default);
}
.side-bar img {
  margin: 0;
  width: 100%;
  object-fit: cover;
  height: 48%;
}
.side-bar-content {
  height: 100%;
  padding: 1rem;
  color: var(--body-text);
}
.side-bar-content h3 {
  font-size: 1rem;
  font-weight: 400;
}
.add-to-fav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 0.5rem;
  justify-content: space-between;
  height: 38%;
  border: solid 1px var(--lines-color);
}
.add-to-fav h3 {
  font-size: 1.1rem;
  font-weight: 400;
}
.add-to-fav h4 {
  text-align: center;
  opacity: 0.7;
  color: var(--body-text);
  font-size: 0.8rem;
  font-weight: 400;
}
.add-to-favorites {
  color: var(--bg-default);
  font-size: 1.4rem;
  font-weight: 400;
  background-color: var(--brand-secondary);
  border-radius: 0;
  height: 50%;
}
.add-to-favorites ion-icon {
  font-size: 2rem;
}

.sub-topics {
  margin-block: 1.2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.sub-topics-content {
  background-color: var(--bg-default);

  height: 25rem;
  border-radius: 0.3rem;
  border: solid 1px var(--lines-color);
}
.sub-topics-content h2 {
  padding-inline: 1.8rem;
  padding-block: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: solid 1px var(--lines-color);
}
.check-mark {
  font-size: 1.5rem;
  color: var(--brand-secondary);
}
.sub-topics-content > div {
  padding-inline: 1.8rem;
  padding-block: 0.95rem;
  display: flex;
  justify-content: start;
  border-bottom: solid 1px var(--lines-color);
  align-items: center;
}
.sub-topics-content > div:last-child {
  border: none;
}

.sub-topics-content h3 {
  color: var(--body-text);
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

footer {
  margin-block-end: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

footer ion-icon {
  font-size: 1.5rem;
  color: red;
}
@media (max-width: 458px) {
  .welcome-content {
    top: 6.9rem;
  }
  .welcome-content h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .welcome-content h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media (max-width: 350px) {
  .sub-topics-content,
  .sub-topics-content {
    height: 33rem;
  }
}

@media (max-width: 625px) {
  .text-btn-title {
    display: none;
  }
  .container,
  .topic-details,
  .sub-topics {
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
  }
  .sub-topics {
    flex-direction: column;
  }
  .sub-topics-content {
    width: 100%;
  }
  .description {
    max-width: none;
  }
  .side-bar {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 978px) and (min-width: 626px) {
  .description {
    max-width: none;
  }
  .side-bar {
    width: 100%;
    margin: 0;
  }
  .topic-details,
  .sub-topics {
    padding-inline-start: 3.6rem;
    padding-inline-end: 3.6rem;
  }
  .sub-topics {
    flex-direction: column;
  }
  .sub-topics-content {
    width: 100%;
  }
}

@media (min-width: 978px) {
  .description,
  .sub-topics-content {
    width: 32rem;
  }
}
