@import url(variables.css);
body {
  --header-hieght: 4.5rem;
  margin: 0;
  background-color: var(--bg-body);
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  background-color: var(--bg-default);
  height: var(--header-hieght);
}

.text-btn {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.7rem;
  background: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.container {
  padding-inline: 3.6rem;
  transition: 200ms;
}

.header-container {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px -5px;
  align-items: center;
}

.page-title {
  font-size: 1rem;
  color: var(--brand-primary);
  font-weight: 400;
}

.welcome-div {
  text-align: left;
  width: 100%;
  background-color: var(--bg-default);
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradiant-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.triangle-left {
  position: relative;
  top: -3rem;
  z-index: 1;
  transform: skewY(3deg);
  height: 5rem;

  background: linear-gradient(
    90deg,
    rgba(7, 104, 160, 1) 0%,
    rgba(3, 193, 128, 1) 46%
  );
}

.triangle-right {
  position: relative;
  top: -11rem;
  z-index: 2;
  transform: skewY(-3deg);
  height: 8rem;
  background: linear-gradient(
    90deg,
    rgba(7, 104, 160, 1) 0%,
    rgba(6, 123, 153, 1) 24%,
    rgba(3, 193, 128, 1) 100%
  );
}
.welcome-title {
  color: var(--brand-secondary);
  font-weight: 700;
  font-size: 1.4rem;
}

.welcome-content {
  color: var(--body-text);
  font-weight: 200;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 1.3rem;
  background-color: var(--bg-default);
  width: 100%;
  border-radius: 0.65rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px -5px;
}

.search-input {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.search-input ion-icon {
  padding-inline: 0.7rem;
}

.search-input input {
  width: 100%;
  border: none;
}

.search-input input::placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.select-container {
  flex-grow: 0.45;
  display: flex;
}

.select-wrapper {
  width: 100%;
  display: flex;
  justify-content: right;
  flex-direction: column;
  padding-inline: 0.7rem;
  border-left: solid 1px var(--lines-color);
  padding-block: 0.3rem;
}

.select-wrapper select {
  border: none;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}

.select-label {
  font-size: 0.7rem;
  font-weight: 400;
  padding-inline: 4px;
}

.results {
  color: var(--body-text);
  font-weight: 700;
}

.grid-container {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.96rem, 1fr));
  justify-content: left;
  grid-gap: 2rem;
  margin-block: 2rem;
}

.grid-item {
  border-radius: 0.5rem;
  background-color: var(--bg-default);
  height: 17.5rem;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 0px 5px 1px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.grid-item img {
  margin: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 8.5rem;
  object-fit: fill;
}

.grid-item section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 9rem;
}

.grid-item section div {
  width: 100%;
}

.grid-item div h3 {
  color: var(--body-text);
  font-size: 0.85rem;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-item div h2 {
  color: var(--body-text);
  font-size: 0.95rem;
  font-weight: 700;
  height: 2.5rem;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rate-star {
  margin: 0;
  padding: 0;
  color: goldenrod;
}

.author {
  font-size: 0.8rem;
  opacity: 0.5;
}

.favorites {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 12rem; 
  background-color: var(--bg-default);
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  box-shadow: rgba(69, 68, 68, 0.1) 0 0 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-block: 0.95rem;
}
.favorites h2 {
  font-size: 1rem;
  font-weight: 700;
}



/* Track */
.slider::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.slider::-webkit-scrollbar-thumb {
  background: #d5ac68;
  border-radius: 10px;
}
.slider {
  padding-inline-end: 0.5rem;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 8rem;
  gap: 1rem;
  width: 100%;
}
.favorite-topic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 5px 1px;

  background-color: var(--bg-default);
  height: 6.7rem;
  width: 7.6rem;
}
.favorite-topic img {
  margin: 0;
  width: 100%;
  object-fit: fill;
  height: 55%;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.favorite-topic ion-icon {
  margin: 0;
  padding: 0;
  color: goldenrod;
}
.favorite-topic section {
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.active {
  transform: translateX(0);
}

.text-btn:hover {
  background-color: var(--brand-primary);
  transform: translateY(-1px);
}

.text-btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
footer {
  margin-block: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

footer ion-icon {
  font-size: 1.5rem;
  color: red;
}

@media (max-width: 625px) {
  .text-btn-title {
    display: none;
  }
  .container {
    padding-inline: 1.5rem;
  }
}

@media (max-width: 427px) {
  .search-bar {
    flex-wrap: wrap;
    width: 100%;
  }
  .select-container {
    flex-grow: 1;
  }
  .select-wrapper {
    width: 100%;
    border-left: 0;
    border-top: solid 1px var(--lines-color);
  }
  .select-container > div:first-child {
    border-right: solid 1px var(--lines-color);
  }
  .search-input {
    padding-block: 1rem;
  }
  .triangle-right {
    position: relative;
    top: -11rem;
    z-index: 2;
    transform: skewY(-6deg);
    height: 7rem;
    background: linear-gradient(
      90deg,
      rgba(7, 104, 160, 1) 0%,
      rgba(6, 123, 153, 1) 24%,
      rgba(3, 193, 128, 1) 100%
    );
  }
  .triangle-left {
    position: relative;
    top: -4rem;
    z-index: 1;
    transform: skewY(7deg);
    height: 5rem;
    background: linear-gradient(
      90deg,
      rgba(7, 104, 160, 1) 0%,
      rgba(3, 193, 128, 1) 46%
    );
  }
}
